<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    	<section name="systemNotifications" type="Redbridge.Configuration.SystemNotificationConfigurationSection, Redbridge.Windows" />
  	</configSections>
	  <systemNotifications enabled="true" environment="Development">
	    <notifiers>
	      <slack name="User Registration Slack Channel" webhookUrl="https://hooks.slack.com/services/asdf" enabled="true">
	        <filters>
	          <add event="user.registered" />
	        </filters>
	      </slack>
	      <slack name="Log Entry Added Slack Channel" webhookUrl="https://hooks.slack.com/services/asdf" enabled="true">
	        <filters>
	          <add event="logentry.created" />
	        </filters>
	      </slack>
	    </notifiers>
	  </systemNotifications>
</configuration>
