<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    	<section name="systemNotifications" type="Redbridge.Configuration.SystemNotificationConfigurationSection, Redbridge.Windows" />
  	</configSections>
	  <systemNotifications enabled="true" environment="Development">
	    <notifiers>
	    </notifiers>
	  </systemNotifications>
</configuration>
